<div class="first">
  <div class="sections">
    <input type="checkbox" class="check"/>
    <p>First item</p>
    <img src="https://s1.iconbird.com/ico/2013/12/505/w450h4001385925290Delete.png" alt="Alternate Text" />
  </div>
  <div class="sections">
    <input type="checkbox" class="check"/>
    <p>Second item</p>
    <img src="https://s1.iconbird.com/ico/2013/12/505/w450h4001385925290Delete.png" alt="Alternate Text" />
  </div>
  <div class="sections">
    <input type="checkbox" class="check"/>
    <p>Third item</p>
    <img src="https://s1.iconbird.com/ico/2013/12/505/w450h4001385925290Delete.png" alt="Alternate Text" />
  </div>
</div>
